/*Balance Industrielle*/

.produits-cardBIndustrielle {
  text-align: center;
  padding: 40px 20px;
  background: var(--color-gray-light);
  border-radius: 8px;
  width: 100%;
  max-width: 380px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.produits-cardBIndustrielle:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-color: #ffa400; /* orange */
  color: #fff;
  cursor: pointer;
}

/*Balance Commerciale*/

.produits-cardBCommerciale {
  text-align: center;
  padding: 40px 20px;
  background: var(--color-gray-light);
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 380px;
}

.produits-cardBCommerciale:hover {
  transform: translateY(-5px);
  box-shadow:  black;
  background-color: #30c341;
  color: #fff;
}

/*Balance de Précision*/

.produits-cardBPrécision {
  text-align: center;
  padding: 40px 20px;
  background: var(--color-gray-light);
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 380px;
}

.produits-cardBPrécision:hover {
  transform: translateY(-5px);
  box-shadow:  black;
  background-color: #941818;
  color: #fff;
}
/*Poids Étalons*/

.produits-cardBPoids {
  text-align: center;
  padding: 40px 20px;
  background: var(--color-gray-light);
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 380px;
}

.produits-cardBPoids:hover {
  transform: translateY(-5px);
  box-shadow: black;
  background-color: #67048b;
  color: #fff;
}

/*Accessoires*/

.produits-cardBAccessoires {
  text-align: center;
  padding: 40px 20px;
  background: var(--color-gray-light);
  border-radius: 8px;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 380px;
}

.produits-cardBAccessoires:hover {
  transform: translateY(-5px);
  box-shadow:  black;
  background-color: #420387;
  color: #fff;
}
